//dark
$bgColorBlue: #434a59;
$fontWhiteColor: #ffffff;
$sliderDarkBlue: #242d44;
$buttonRed: #d03f2f;
$screenDarkBlue: #181f33;
$buttonColorGrey: #eae3dc;
$buttonColorGreyHover: #fffffe;
$buttonColorDarkGrey: #647198;
$buttonShadow: #b3a497;
$buttonBlueShadow: #414e73;
$buttonBlueHover: #a2b2e1;
$buttonRedShadow: #93261a;
$buttonRedHover: #f96b5b;

$primaryFont: 'Spartan', sans-serif;

//light
$bgColorGrey: #e6e6e6;
$fontDarkColor: #36362c;
$screenWhite: #eeeeee;
$buttonBodyGrey: #d2cdcd;
$buttonBlue: #378187;
$buttonOrange: #c85402;
$buttonOrangeHover: #ff8a38;
$buttonOrangeShadow: #873901;
$buttonGreyish: #e5e4e1;
$buttonTheme2Shadow: #a79e91;
$buttonBlueTheme2Shadow: #1b6066;
$buttonBlueTheme2Hover: #62b5bc;

//purple
$bgColorPurple: #17062a;
$screenPurple: #1e0936;
$fontYellowColor: #ffe53d;
$buttonBlueTheme3Color: #00ded0;
$buttonBlueTheme3Hover: #93fff8;
$buttonPurple: #331c4d;
$buttonLightPurple: #56077c;
$equalTextColor: #1a2327;
$buttonPurpleShadow: #881c9e;
$buttonPurpleHover: #6c34ac;
$buttonLightPurpleShadow: #be15f4;
$buttonLightPurpleHover: #8631af;
$equalButtonShadow: #6cf9f1;
